* {
    padding: 0;
    margin: 0;
    color: #090909;

}

body {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    flex: 1;

}
ul{
    list-style: none;
    margin: 0;
    padding:0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quantico', monospace;
    text-transform: uppercase;

}

h1 {
    font-size: 2.7rem;
    text-align: center;
}

h2 {
    font-family: 'Quantico', monospace;

}

.navbar-brand {
    text-transform: uppercase;
    font-family: 'Quantico', monospace;
}

p {
    font-family: 'Instrument Serif', monospace;
}

footer {
    height: 55px;
    width: 100%;
    background-color: rgb(196, 196, 196);
    display: flex;
}

/* index page-->*/

#thumbnail-portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid white;
    overflow: clip;
    position: relative;

}

#thumbnail-portrait img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

}

#second-portrait {
    position: absolute;
    top: -120%;
    transition: .7s;
}

#thumbnail-portrait:hover #second-portrait {
    top: 0;
}

header {
    height: 100svh;
}

#header-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#headline {
    font-size: 1rem;
    font-family: 'Instrument Serif', monospace;
}

#technologies {
    color: #c4c4c4;
    font-size: .9rem;
}

.remove-radius,
.remove-radius * {
    border-radius: 0 !important;
}

#skill-wrapper {
    position: relative;
    overflow:hidden;
    width:80%;
    max-width:768px;
    user-select: none;

}

#skill-inner {
    display: flex;
    width:max-content;
    align-items: center;
    animation: ticker 20s linear infinite;
}
#skill-inner:hover{
animation-play-state: paused;
}


#skill-inner .skill {
    padding: 10px;
    background-color: white;
    margin-right:20px;
}

#skill-wrapper .skill:hover{
    background-color:#bfffe1;
}
#projects {
    padding-top: 10%;
}

#projects h2 {
    color: #c4c4c4;
    font-size: 3rem;
    height: 10svh;
}

#projects .card {
    animation-name: fadeIn;
    animation-timeline: view();
    animation-fill-mode: both;
    animation-range: entry 0% entry 100%;
}

@keyframes slideXLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);

    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50%);

    }

    100% {
        opacity: 1;
        transform: translateY(0);


    }
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (min-width:768px) {
    #projects h2 {
        font-size: 4rem;
    }
    #skill-wrapper{
        margin-top:6rem;
    }
    #header-contents{
        padding-top:70px;
    }
}